<div>
  <a href="/pets">Back to Pets</a>
  <div class="post_header-img">
    <img src={{pet.image}} />
    <div class="post_header-content text-center">
      <div class="post_header-content">
        <a href="/posts/?tag={{pet.tag}}">{{pet.tag}}</a>
        <h1 class="py-4 px-2 post_header-text">{{pet.animalName}}</h1>
      </div>
    </div>
  </div>
  <div class="post_spacer"></div>
  <div class="my-3 my-sm-4">
    <div>Type: {{pet.animalType}}</div>
    <div>Age: {{pet.animalAge}}</div>
    <div>Zip: {{pet.zipcode}}</div>
    <div>Tag: {{pet.tag}}</div>
    <div>Description: {{{pet.description}}}</div>
  </div>
</div>