{{!-- nav bar --}}
<nav class="navbar-background">
    <ul class="nav-list">
        <div class="logo">
            <img src="/public/images/BTgKA7eGc.gif">
            <div class="topnav" id="myTopnav">
                <h1>PetBlog: find or post a pet</h1>
                <a href="/posts"> Blog Posts</a>
                <a href="/pets"> Animal Posts</a>
                <a href="/logout">Logout</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </div>
    </ul>
</nav>
<div>
    <h1>All Pet Posts: </h1>
    <a href="/pets/create">Create a new post</a>
    <table class="table table-responsive">
        <thead>
            <th>User</th>
            <th>AnimalName</th>
            <th>AnimalType</th>
            <th>AnimalAge</th>
            <th>Zipcode</th>
            <th>Description</th>
            <th>Tag</th>
            <th>Image</th>
        </thead>
        <tbody>
            {{#each pets}}
            <tr>
                <td>{{this.username}}</td>
                <td>{{this.animalName}}</td>
                <td>{{this.animalType}}</td>
                <td>{{this.animalAge}}</td>
                <td>{{this.zipcode}}</td>
                <td>{{this.description}}</td>
                <td>{{this.tag}}</td>
                <td>
                    <a href={{this.link}}>View Post</a>
                </td>
                <td><img src={{this.image}} /></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>