       {{!-- nav bar --}}
            	<nav class="navbar background">
		<ul class="nav-list">
			<div class="logo">
				<img src="/public/images/BTgKA7eGc.gif">
	<div class="topnav" id="myTopnav">
    <h1>PetBlog: find or post a pet</h1>
    <a href="signup">Fosterable Animals</a>
    <a href="posts"> All blog posts</a>
    <a href="/logout">Logout</a>

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>			
	</nav>
    <div>
    <h1>All Blog Posts: </h1>
    <a href="/posts/create">Create a new post</a>
    <table class="table table-responsive">
        <thead>
            <th>User</th>
            <th>Pet</th>
            <th>Status</th>
            <th>Comments</th>
            <th>Pictures</th>
            <th>date</th>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>{{this.username}}</td>
                <td><img src={{this.image}} /></td>
                <td>{{this.title}}</td>
                <td>{{this.tag}}</td>
                <td>{{this.body}}</td>
                <td>{{this.date}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
