<div class="post_header-img">
  <a href="/posts">Back to Posts</a>
  <img src={{post.image}} />
  <div class="post_header-content text-center">
    <div class="post_header-content">
      <h1 class="py-4 px-2 post_header-text">{{post.title}}</h1>
    </div>
  </div>
</div>
<div class="post_spacer"></div>
<div class="my-3 my-sm-4">
  <div class="post_body">{{{post.body}}}</div>

</div>

<!-- comments -->
<div class="row">
  <div class="col-md-10">
    <div id="post-comments">

      <div id="add-comment" class="bg-white p-4 border">

        <form action="/posts/{{post._id}}/comment" method="POST">
          <div class="form-group">
            <label for="#comment">Leave a Comment</label>
            <textarea class="form-control p-2" id="comment" name="comment" type="text" placeholder="Your Comment Here"
              rows="4" required></textarea>
          </div>
          <input class="btn btn-primary form-control" type="submit" value="POST">
        </form>
      </div>
      <div class="show-ratings">
        <h1>{{ratingSum}} likes</h1>
        {{#if rating}}
        <form action="/posts/{{post._id}}/unlike" method="POST">
          <button type="submit">Unlike post</button>
        </form>
        {{else}}
        <form action="/posts/{{post._id}}/like" method="POST">
          <button type="submit">Like post</button>
        </form>
        {{/if}}
      </div>
      <div class="py-3" id="show-comments">
        <h1>Post Comments</h1>
        {{#each comments}}
        <div class="comments_item">
          <div class="card card-body my-3 d-flex flex-row">
            <div class="comment_user-img">
              <img class="rounded-circle" src="/public/images/not-found-image-15383864787lu.jpg" alt="user">
            </div>
            <div class="ml-4">
              <div class="comment_user-name">
                <p>{{this.username}}</p>
              </div>
              <div class="comment_body pt-2">
                <p>{{{this.comment}}}</p>
              </div>
              <h1>{{this.sum}} likes</h1>
              {{#if this.rating}}
              <form action="/comments/{{this._id}}/unlike" method="POST">
                <button type="submit">Unlike comment</button>
              </form>
              {{else}}
              <form action="/comments/{{this._id}}/like" method="POST">
                <button type="submit">Like comment</button>
              </form>
              {{/if}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>