<div class="post-header">
  <a href="/posts">Back to Posts</a>
  <h1 class="post">{{post.title}}</h1>
  <div class="post-body">{{{post.body}}}</div>
  <img src={{post.image}} />
  <div class="show-ratings">
    <h1>{{ratingSum}} likes</h1>
    {{#if rating}}
    <form action="/posts/{{post._id}}/unlike" method="POST">
      <button type="submit">Unlike post</button>
    </form>
    {{else}}
    <form action="/posts/{{post._id}}/like" method="POST">
      <button type="submit">like post</button>
    </form>
    {{/if}}
  </div>
</div>

<div id="show-comments">
  <h1>Post Comments</h1>
  <div class="comment-card">
    {{#each comments}}
    <div class="comment-info">
      <p class="comment-username">{{this.username}}</p>
      <p>{{{this.comment}}}</p>
      <h1>{{this.sum}} likes</h1>
      {{#if this.rating}}
      <form action="/comments/{{this._id}}/unlike" method="POST">
        <button type="submit">Unlike comment</button>
      </form>
      {{else}}
      <form action="/comments/{{this._id}}/like" method="POST">
        <button type="submit">Like comment</button>
      </form>
      {{/if}}
    </div>
    {{/each}}
  </div>
</div>

<br>

<div id="add-comment" class="post-comments">
  <form action="/posts/{{post._id}}/comment" method="POST">
    <div class="form-group">
      <label for="#comment">Leave a Comment</label>
      <textarea class="form-cont" id="comment" name="comment" type="text" placeholder="Type Your Comment Here" rows="4"
        required></textarea>
    </div>
    <input class="make-comment" type="submit" value="POST">
  </form>
</div>